.container {
width: 80%;
margin: 0 auto;
}
.picture{
    margin-top: 20px;
    height: 90px;
    width: 80px;
    border: 1px solid black;
    margin-left: 1200px;
    text-align: center;
}
.main{
    text-align: center;
}
.ex {
    font-size: 10px;
    background-color: cornflowerblue;
    text-decoration-line: underline;
    width: 9%;
}
.ad {
    font-size: 15px;
    background-color: cornflowerblue;
    text-decoration-line: underline;
    width: 15%;

}
.table {
    border: 5px;
    width: 6px;
}
.main2>h1 {
    font-size: 20px;
    background-color: cornflowerblue;
    text-decoration-line: underline;
    width: 9%;
}
.pi {
    font-size: 11px;
    background-color: cornflowerblue;
    text-decoration-line: underline;
    width: 16%;
}

























